vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|zh-tw
vti_usernames:VR|hodaniel
vti_timecreated:TR|01 May 2003 10:51:01 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_casesensitiveurls:IX|0
vti_ignorekeyboard:IR|1
vti_navbuttonnextlabel:SR|Next
vti_extenderversion:SR|4.0.2.3406
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_copytimestamp_ftp\://christianresource.hypermart.net/christianresource:TR|13 Oct 2020 16:20:25 -0000
vti_dependenciesood:IR|1
vti_approvallevels:VR|內容檢閱 法務檢閱 程式碼檢閱 管理員檢閱
vti_borderdefault:SR|none
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_navbuttonhomelabel:SR|Home
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|旅行 費用報告 商務 競爭 目標/目的 主意 雜項 等待中 VIP 處理中 計劃 排程
vti_insecureserverurl:SR|file://
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_defaultcharset:SR|big5
vti_autorecalc:IX|1
